.result-item {
  margin: 20px 0;

  background-color: #dbd5d5;

  font-size: 1.5rem;

  &__name {
    padding: 15px 10px;

    font-size: 1.6rem;
  }

  &__description {
    max-height: 0;
    height: 0;
    overflow: hidden;

    background-color: #ebe5e5;

    line-height: 1.45;

    &--active {
      height: auto;
      max-height: 999999px;

      padding: 15px;
    }
  }

  &__btn {
    width: 160px;
  }
}
