///------------------------------------
//    #SETTINGS
//------------------------------------

//------DIMENSIONS
$baseFontSize: 10;

html {
  $fontSizePX: $baseFontSize + px;

  overflow-x: hidden;
  font-size: $fontSizePX;
}

body {
  overflow-x: hidden;
}

//------FONT FAMILY VARIBALE

$baseFont: "Lato", Arial, Helvetica, Tahoma, sans-serif;

//------GLOBAL FONT SETTINGS
body {
  font-size: 100%;
  font-family: $baseFont;
}

strong {
  font-weight: bold;
}
